.navbar {
    display: none;
}

.slide-content {
    padding: 250px 230px;
}

.slide-content h1 {
    font-size: 40px;
}

.slide-content p {
    font-size: 14px;
    padding: 0px 250px 0px 0px;
    color: rgb(0, 0, 0);
}