.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.slide {
    font-size: 14px;
    padding: 20px 60px;
    margin-bottom: 100px;
}

.navbar {
    display: none;
}

.header {
    font-size: 14px;
    display: inline-block;
}

.slide-content {
    font-size: 12px;
    padding: 100px 230px;
    max-width: 800px;
}

.slide-content h1 {
    font-size: 30px;
}

.logo {
    display: inline-block;
}

.home {
    background-color: white;
    padding: 80px 200px;
}

.home section div {
    display: inline-block;
    font-size: 14px;
}

.quote {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    display: inline;
}

h2 {
    font-size: 22px;
}

.line {
    width: 1px;
    height: 100px;
}

.arrow {
    font-size: 10px;
    padding: 10px;
}

.home-content {
    font-size: 14px;
}

.footer {
    padding: 50px 100px;
    display: flex;
    flex-direction: row;
    font-size: 14px;
}

.footer [class*="col-"] {
    padding: 0px 5px;
}

.footer .col-1 {
    margin: 0px 20px;
}

.footer p {
    margin: 5px 0px;
    word-break: break-all;
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer li {
    padding: 2px;
    margin-bottom: 2px;
}

.footer h5 {
    font-weight: bold;
    margin: 15px 0px 5px;
}